<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web3.dal.data.mapper.Price1dMapper">
    <insert id="replaceIntoBatch">
        replace into price_1d
        (symbol, date, source, open_time, close_time,open,height,close,low,volume,turnover,trading_volume,buying_volume,buying_turnover)
        VALUES
        <foreach collection="list" item="it" separator=",">
            ( #{it.date},#{it.source},#{it.symbol},#{it.openTime},#{it.closeTime},#{it.open},#{it.height},
             #{it.close},#{it.low},#{it.volume},#{it.turnover},#{it.tradingVolume},#{it.buyingVolume},#{it.buyingTurnover})
        </foreach>
    </insert>
</mapper>
